{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
        
{% block main %}
    <div class="left">
        <b><h1>Hi! I'm David...</h1></b>
        <p>I'm currently a student at Independence High School and Academies of Loudoun, and spend my free time managing a startup company and learning to code! </p>
        <p>I am learning to code through Harvard's CS50: Introduction to Computer Science, side projects and several coding clubs. I plan to double major in physics and computer science, as those are the things that interest me most.</p>
     </div class="left">
{% endblock %}
            