body {
    background-color: #add8e6;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem)
}

.feature-grid {
    grid-template-columns: 1fr 1fr;
}

.container {
    height: 90%;
    width: 90%;
    padding-top: 50px
}

.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}


#close-CSS {
    height: 50px;  
    width: 50px;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.center{
    align-content: "center";
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}
img {
    mix-blend-mode: multiply;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    
}

.left {
    text-align:left;
}

about {
    display: inline-block;
    width: calc(50%-60px);
    margin-left: 50px;
    vertical-align: top;
}

form {
    display: inline-block;
    width: 50%;
}


.button {
    
    text-decoration: none;
    background-color: #EEEEEE;
    color: #212529;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    height:150px;
    width:250px;
  }

a, u {
    text-decoration: none;
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

